.Container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
}

/* Shadow */
.Left {
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
}

.Left {
  flex: auto;
  z-index: 5;
  position: relative;
  background-color: var(--landing-bg-color);
  height: 100%;
}

.Right {
  background-color: #1d1c1c;
  transition: all 1s;
  z-index: 0;
  flex-shrink: 0;
}

.SideDrawerOpen {
  width: 25%;
}

.SideDrawerClosed {
  width: 0px;
}

.Hamburger {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 35px;
  cursor: pointer;
}

.Absolute {
  right: 0px;
  display: none;
  position: absolute;
  background-color: #1d1c1c;

  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
}

/* Nominations panel */
@media (max-width: 1110px) {
  .SideDrawerOpen {
    width: 30%;
  }
}
@media (max-width: 830px) {
  .Right {
    display: none;
  }

  .Absolute {
    display: block;
    z-index: 10;
  }

  .SideDrawerOpen {
    width: 50%;
    animation: open 1s forwards;
  }

  .SideDrawerClosed {
    width: 50%;
    animation: close 1s forwards;
  }

  @keyframes open {
    
    100% {
      right: translateX(-100%);
    }
  }

  @keyframes close {
   
    100% {
        transform: translateX(100%);
    }
  }
}

@media (max-width: 570px) {
  .SideDrawerOpen {
    width: 75%;
  }
}
