.Results {
    max-width: 1335px;
    margin: 50px auto;
    height: 100%;
}

.GridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

.Results > div {
    margin-bottom: 30px;
 }