.Container {
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    align-items: center;
    color: white;

    /* background-color: coral; */
}

.Container > div{
    /* border: 2px solid cornflowerblue; */
    margin-bottom: 30px;
}

.SearchBar {
    width: 70%;
    position: relative;
}

.Clear {
    position: absolute;
    right: 10px;
    height: 22px;
    margin-top: -11px;
    top: 50%;
    cursor: pointer;
}

.Error {
    padding: 10px;
    font-weight: bold;
    color: rgb(231, 55, 55) !important;
}

.Title {
    color: white;
    margin-top: 100px;
}

.Disabled {
    display: none;
}

/* Loading animation */
.Loader {
    margin-top: 80px;

    border: 8px solid rgb(34, 34, 34);
    border-radius: 50%;
    border-top: 8px solid rgb(180, 180, 180);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
